
@import "./variables";

@mixin btnPrimary{
    color: $primary;
    padding: $padding48;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
   
}
@mixin btnSecondary{
    color: $primary;
    padding: $padding48;
    background-color: $secondary;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
   
}

.iconLeft{
    margin-right: 4px;
}
.iconRight{
    margin-left: 4px;
}